body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 32); /* Change the background color to a dark blue */
    height: 100vh; /* Make the header cover the whole page */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff; /* Change the color of the words in the header to white */
    font-size: 6rem;
    cursor: pointer;
    user-select: none;
  }

  header:hover {
    transform: scale(1.3); /*to increase the size of the header */
  }
  
  header h1:hover {
    text-shadow: 0 0 10px rgb(0, 0, 32);
  }

  #home {
    height: 100vh; /* Make the section cover the whole page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s ease-in-out; /* Add a transition effect to the background color */
    text-align: center;
    color:rgb(0, 0, 32);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem; /* Increase the font size by 20px */
    cursor: pointer;
    user-select: none;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  } 

  #home p {
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    cursor: pointer;
    user-select: none;
    --x: 50%;
    --y: 50%;
    transform: scale(1);
    transform-origin: var(--x) var(--y);
    transition: transform 0.3s ease-in-out;
  }
  
  #home p:hover {
    transform: translateY(-10px); /* Move the text up by 10px when hovered */
  }

  #home p:hover:not(:focus):not(:active) {
    transform: scale(1.2); /* Zoom in the text when hovered */
  }  

  #home > * {
    max-width: 50%; /* Limit the maximum width of the content to 50% of the section width */
    margin: 0 auto; /* Center the content horizontally */
  }

main {
    padding: 20px;
}

.section-title {
    color: white;
    font-size: 2rem; /* You can adjust the font size as needed */
  }

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

#about-us {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 40px;
}

#about-us h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#about-us p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

footer {
    background-color: rgb(0, 0, 32);
    padding: 10px;
    text-align: center;
    color: white;
}
